.div {
  margin: 20px 200px;
  min-height: 500px;
  background-color: burlywood;
}

.dueDate,
.box,
.priority,
.type {
  margin: 30px;
  width: 300px;
}
#title,
#des {
  margin: 20px 50px;
}
.btn {
  margin: 10px 50px;
}
